@import '/styles/vendor/pico.colors.min.css';
@import '/styles/vendor/pico.min.css';

@import '/styles/fonts.css';


:root {
    display: flex;
    --pico-border-radius: 0.2rem;
    /* Your instructions say to set this to 2rem, but it doesn't match the mockup, so I matched the mockup! Thanks!!  */
    --pico-typography-spacing-vertical: 1.5rem;

}

h1 {
    color: var(--pico-color-jade-700);
    font-family: "Recife";
}

.centered {
    max-width: 600px;
    margin: 0 auto;
    padding: 100px;
    padding-bottom: 0px;
}

footer {
    padding: 0;
}

body {

    .container {
        width: 50vw;
        padding: 100px;
    }

    fieldset {
        margin-bottom: 20px;

        button {
            color: var(--pico-color-jade-700);
        }
    }
}