@import '/styles/vendor/pico.colors.min.css';
@import '/styles/vendor/pico.min.css';


@import 'fonts';

/* overwrite the pico variables here */
:root {
    display: flex;

}

.centered {


}

body {

    .container {
        width: 50vw;
        padding: 100px;
    }

    fieldset {
        margin-bottom: 20px;
    }

}